.request-container {
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin-bottom: 15px;
}

.json-input {
    height: 100% !important;
    font-family: monospace;
}

.json-input-container {
    margin-bottom: 0px !important;
}

.toggle:disabled {
    opacity: 1 !important;
}

.columns {
    margin-top: 0 !important;
}

.hidden {
    display: none !important;
}