.request-container {
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    padding-bottom: 7px;
    margin-bottom: 15px;
}

.request-inputs {
    padding-right: 10px;
}