.content {
    max-width: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

.blurred {
    filter: blur(2px);
    pointer-events: none;
}

.workflow {
    max-width: inherit;
}

.sidebar {
    position: sticky;
}

.run-button {
    margin-bottom: 15px;
}

.show-sidebar {
    border: none;
    border-radius: 50%;
    bottom: 40px;
    color: white;
    height: 60px;
    position: fixed;
    left: 40px;
    text-align: center;
    width: 60px;
    font-size: 1em;
}

.show-sidebar:focus {
    outline: none;
}

.show-sidebar:hover {
    filter: brightness(110%);
}

.stop-scrolling {
    overflow: hidden;
}